*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    overflow-x:hidden;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
   
}
.logo{
    font-size: 1.5rem;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 900;

 }
 
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15%;
    height: 90vh;
}
.hero-content h2{
    font-size:3rem;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 100%;
}
.hero-content p{
    max-width: 65%;
    font-size: 16px;
    opacity: 0.7;
    line-height:1.5rem ;
}
.btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    width: 250px;
    padding: 10px 0;
    margin-top: 15px;
}

.hero-img{
    flex-basis: 50%;

}
.colors{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}
.colors li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.colors li input{
    display: none;
}

 .switch{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display:inline-block; 
    border: 2px solid #ddd7d7;
} 
 
 .colors input:checked + .switch{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);    
  
} 
.colors li label{
    cursor: pointer;
}
.colors p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
}
.phn-img{
    width: 100%;
    height: 100%;
    
}
.box{
background-color: #000;
width: 100%;
height: 100vh;
position: absolute;
right: 0;
top:0;
transition: clip-path 1s ease;
}
 

.box2 {
    background-color: #f3f1f1;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 45%;
    z-index: -1;
    clip-path: circle(70.7% at 50% 50%);
    transition: clip-path 0.8s
}
